.post-main{
	min-height: 300px;
	width: auto;
	border: 2px solid #3e3e3e;
	box-shadow: gray;
	margin:5px 0px 5px 0px;
	border-radius: 10px ;
}
/*
 * Blog posts
 */

.blog-post {
  float: left;
  width: 650px;
  height: auto;
}
.blog-sidebar{
	width: 270px;
	height:auto;
	float: right;
        padding: 0px;
}
@media screen and (max-width: 320px){
	.blog-post{
		width: 290px;

	}
}
.margin{
    padding:  16px 16px 5px 5px;
}
.auto-style1 {
            float: left;
            width: 254px;
            height: 191px;
            margin-left: 7px;
        }
        .auto-style2 {
            float: right;
            width: 359px;
            height: 187px;
            margin-left: 2px;
            margin-bottom: 2px;
        }
        .auto-style3 {
            width: 627px;
            height: 279px;
        }
        .auto-style4 {
            height: 313px;
        }
        .auto-style5 {
            clear: both;
            height: 34px;
        }
        .auto-style6 {
            height: 50px;
        }